$color1: #999999;
$color2: #333333;
$color3: #cccccc;
$color4: #FFFFFF;

$fowd: #e52b32;
$fowa: #ff7a19;

$font-stack1: Helvetica, sans-serif;

$small-padding: 1em;
$large-padding: 2em;

$bp-s: 400px;
$bp-m: 700px;
$bp-l: 900px;
$bp-xl: 1200px;

