/* Video filter menu */

#filters__trigger {
    @media (min-width: $bp-m--2) {
        max-width: span(6);
    }
}

.header__filters {
    background-color: $black;
    padding: 1em;
    border-top: 1px solid $fi-primary;
}

li.filters__item {
    padding: .6em 0;
}

p.filters__title {
    color: $dk-grey;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .02em;
    border-bottom: 1px solid $dk-grey;
    margin-bottom: 0;
    padding-bottom: .5em;
}

.filters__sub-list {
    li  {
        a {
            display: block;
            padding: .6em .5em;
            color: $lt-grey;
            text-transform: none;
            &:first-child {
                padding-top: 1.2em;
            }
            &:before {
                content: "\2610";
                color: $dk-grey;
                margin-right: 1em;
            }
        }
        &.current {
            a:before {
                content: "\2714";
                color: $fi-highlight;
                margin-right: 1em;
            }
        }
    }
}

.filters__button {
    margin: 1em auto;
    display: block;
    max-width: 10em;
    text-align: center;
}

@media (min-width: $bp-m) {
    .filters__sub-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: $bp-m--2) {
    .filters__sub-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        li a {
            padding: .2em 0;
        }
    }
    
}

@media (min-width: $bp-l) {
    
}