/* Layout */

img {
    display: block;
    max-width: 100%;
}

.main-head__wrapper {
    @include wrapper--header;
}

.main-head__wrapper--2 {
    @include wrapper--header--2;
}

.header__row {
    @include clearfix;
    @media (min-width: $bp-l) {
        display: flex;
        align-items: baseline;
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }            
    }
}

.header__col-1 {
    @media (min-width: $bp-s) {
        @include span(8);
    }
    @media (min-width: $bp-m) {
        @include span(5);
    }
    @media (min-width: $bp-l) {
        width: span(3) + gutter();
        padding-right: span(1);
        border-right: 2px solid $white;
    }
}

.header__col-2 {
    @media (min-width: $bp-l) {
        width: span(6);
        margin-right: gutter();
        padding-left: span(1) + gutter();
    }
}

.header__col-3 {
    display: none;
    @media (min-width: $bp-l) {
        display: block;
        @include span(3 last);
    }
}

/* Brand homepages - bigger logo */
.header__col-1--wide {
    @media (min-width: $bp-s) {
        @include span(8);
    }
    @media (min-width: $bp-m) {
        @include span(5);
    }
    @media (min-width: $bp-l) {
        @include span(4);
        padding-right: span(1);
        border-right: 2px solid $white;
    }
}

.header__col-2--mid {
    @media (min-width: $bp-l) {
        @include span(5);
        padding-left: span(1);
    }
}

.header__signup-button {
    clear: both;
    width: 100%;
}

.header__signup-box,
.header__subhead {
    @media (min-width: $bp-l) {
        @include span(9);
    }
}

.header__company-info {
    @media (min-width: $bp-l) {
        @include span(3 last);
        align-self: flex-end;
    }
}


/* Flexbox layout at larger breakpoints */
@media (min-width: $bp-l) {
    .header__signup-box {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .header__signup-button {
        align-self: flex-end;
        width: auto;
    }
    
    .header__cta-box {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    
}

/* Layout--icons */
.main-head .fa-caret-down {
    margin-right: 1em;
}

.fa-arrow-right {
    margin-left: .5em;
}

/* Lists */

.o-3-col-list {
    li {
        margin-bottom: 1em;
    }
    @media (min-width: $bp-m) {
        li.o-list__item--regular {
            @include gallery(6);
            margin-bottom: gutter();
        }
    }
    @media (min-width: $bp-l) {
        li, li.o-list__item--regular {
            @include gallery(4);
        }
    }
}

/* Speaker profile */

.header__speaker-profile {
    @media (min-width: $bp-m) {
        display: flex;
    }
}

.speaker-profile__image {
    max-width: 12em;
    margin: 0 auto;
    @media (min-width: $bp-m) {
        max-width: 100%;
        width: span(4);
        margin-right: gutter();
    }
}

.speaker-profile__bio {
    @media (min-width: $bp-m) {
        width: span(8 last);
    }
}

/* Events card */

.events-card__col-1 {
    @media (min-width: $bp-s) {
        @include span(4);
    }
    @media (min-width: $bp-l) {
        padding-right: 1em;
    }
}

.events-card__text {
    @media (min-width: $bp-m--2) {
        @include span(8 last);
    }
}
    