@mixin section($margin-bottom, $padding) {
    margin-bottom: $margin-bottom;
    padding: $padding;
}

/* Clearfix */
@mixin cf {
    &:after {
        content: " ";
        display: block;
        clear: both;
    }
}

/* Hide and show */

@mixin mobile-hide {
    display: none;
    @media (min-width: $bp-m) {
        display: block;
    }
}

@mixin desktop-hide {
    @media (min-width: $bp-l) {
        display: none;
    }
}

@mixin desktop-show {
    @media (min-width: $bp-l) {
        display: block;
    }
}
