/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "susy";
@import "font-awesome-compass";
@import "font-awesome";

/* Variables and mixins */
@import 'variables';
@import 'mixins';
/* Partials */
@import '_global/_buttons.scss';
@import '_global/_fonts.scss';
@import '_global/_footer.scss';
@import '_global/_forms.scss';
@import '_global/_header.scss';
@import '_global/_nav.scss';
@import '_global/_search.scss';
@import '_global/_layouts/_home';
@import '_global/_layouts/_event-home';
@import '_global/_layouts/_blog';

$susy: (
    columns: 12,
    container: 1200px,
    global-box-sizing: border-box,
);


@include border-box-sizing;


*, body {
    font-family: $font-stack1;
}

body {
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}

.desktop-hide {
    @media (min-width: $bp-l) {
        display: none;
    }
}

.desktop-show {
    @media (min-width: $bp-l) {
        display: block;
    }
}