/* Gallery */

ul.gallery--blog,
ul.gallery--events {
    @include cf;
    li {
        background-color: $color1;
        position: relative;
        @media (min-width: $bp-s) {
            @include gallery(6 of 12);
            margin-bottom: gutter(12);
        }
        @media (min-width: $bp-m) {
            @include gallery(4 of 12);
        }
        @media (min-width: $bp-l) {
            @include gallery(3 of 12);
        }
    }
}

ul.gallery--content {
    @include cf;
    li {
        background-color: $color1;
        position: relative;
        margin-bottom: gutter(12);
        @media (min-width: $bp-s) {
            @include gallery(6 of 12);
        }
        @media (min-width: $bp-m) {
            @include gallery(4 of 12);
        }
        @media (min-width: $bp-l) {
            @include gallery(3 of 9);
            margin-bottom: gutter(9);
        }
    }
}

ul.gallery--content,
ul.gallery--blog,
ul.content__videos--latest {
    li {
        position: relative;
        a {
            display: block;
            height: 100%;
            figcaption {
                transition: all .3s ease-in-out;
                padding-bottom: 0;
            }
            p.video-icon {
                transition: all .3s ease-in-out;
                opacity: 0;
                transform: scaleY(0);
                margin-top: -1em;
            }
            &:focus, &:hover {
                figcaption {
                    padding-bottom: 1em;
                }
                p.video-icon {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }            
        }
        figure {
            position: relative;
        }
        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: black;
            opacity: .8;
            color: $color4;
        }
        &.locked {
            background-color: $color3;
            figcaption {
                background-color: $color4;
                opacity: .5;
                color: $color2;
            }
        }
    }
}

ul.gallery--events {
    figcaption {
        background-color: $color4;
    }
    a {
        color: $color2;
        &:focus, &:hover {
            color: $color1;
        }
    }
}

/* Featured content */

.featured {
    margin-bottom: $large-padding;
    @include cf;
    border-bottom: 2px solid $color1;
    padding-bottom: 1em;
    @include bleed-x(1em);
}

.featured__text {
    @media (min-width: $bp-m) {
        @include span(8 of 12 last);
    }
    @media (min-width: $bp-m) {
        @include span(6 of 9 last);
    }
}

/* Gallery - full-width */

ul.team {
    @include cf;
    li {
        @include gallery(6);
        text-align: center;
        @media (min-width: $bp-m) {
            @include gallery(4);
        }
        @media (min-width: $bp-l) {
            @include gallery(3);
        }
        figure {
            background-color: $color1;
            margin-bottom: .5em;
        }
    }
}