/* Blog */

figure.blog-img--main,
figure.content-img--main {
    background-color: $color3;
    position: relative;
    margin-bottom: 1em;
}

figure.blog-img--float-left {
    background-color: $color3;
    @media (min-width: $bp-s) {
        @include span(6 of 12);
    }
    @media (min-width: $bp-l) {
        @include span(3 of 8);
    }
    @media (min-width: $bp-xl) {
        @include span(4 of 9);
    }
}

figcaption {
    padding: 1em;
}

figcaption.img-caption--video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: $color4;
    opacity: .5;
}

/* Video gallery */

figure.featured__img {
    background-color: $color1;
    margin-bottom: 1em;
    @media (min-width: $bp-m) {
        @include span(4 of 12);
        margin-bottom: 0;
    }
    @media (min-width: $bp-l) {
        @include span(3 of 9);
    }
}