a {
    color: $color3;
}
a:focus, a:hover, a:active {
    color: $color4;
}

nav, 
footer {
    a, a:focus, a:visited, a:hover, a:active {
        color: $color4;
    }
}

header {
    h1 {
        a {
            text-decoration: none;
            color: $color2;
        }
    }
}

section {
    a {
        text-decoration: none;
    }
    &.regular,
    &.content,
    &.blog {
        a {
            color: $color3;
            &:focus, &:hover, &:active {
                color: $color2;
            }
        }
    }
    &.alternate {
        a {
            color: $color1;
            &:focus, &:hover, &:active {
                color: $color2;
            }
        }
    }
}

.popup, 
.search-box__menu {
    a {
        color: $color4;
    }
}
    

button {
    a {
        color: $color3 !important;
        text-decoration: none;
        display: block;
        padding: .8em 2em;
        &:focus, &:hover, &:active {
            color: $color4 !important;
        }
    }
}