/* Search box */

.search-box {
    background-color: $color2;
    color: $color1;
    position: relative;
    @include cf;
    @media (min-width: $bp-l) {
        display: none;
    }
    ul.search-box__menu {
        @include cf;
        &:focus, &:hover {
            li {
                display: inline-block;
                padding: 1em;
            }
        }
        li {
            display: none;
            ul.search__sub {
                display: none;
            }
            &:focus, &:hover { 
                ul.search__sub {
                    @include cf;
                    display: block;
                    position: absolute;
                    top: 8em;
                    left: 0;
                    padding-top:.5em;
                    width: 100%;
                    background-color: $color2;
                    z-index: 1000;
                    li {
                        display: block;
                    }
                }
            }
        }
        a.search-box__button {
            display: block;
            padding: 1em;
        }
        &:focus, &:hover {
            li.search-box__item {
                @include span(4 of 12 wide no-gutters);
                @include cf;
                overflow: visible;
                background-color: $color3;
                border-right: 1px solid $color1;
                &:last-child {
                    @include span(4 of 12 last no-gutters);
                    border: none;
                }
            }
        }
    }
    
    ul.subject-choice {
        list-style: none;
        display: block;
        @include cf;
        li {
            width: 50%;
            float: left;
            background-color: $color1;
            padding: .5em .3em;
            border-top: 1px solid $color2;
            &:last-child {
                border-left: 1px solid $color2;
            }
            a {
                padding: 1em;
                height: 3em;
            }
        }
    }
}

/* Desktop */

@media (min-width: $bp-l) {

    .search-box--desktop {
        display: block;
        background-color: $color1;
        ul.search-box__menu {
            a {
                display: block;
                padding: .6em;
            }
            li.search-box__item {
                border-bottom: 1px solid $color4;
                &:nth-child(4n) {
                    border-bottom: none;
                }
                ul.search__sub {
                    display: none;
                }
                &:focus, &:hover {
                    ul.search__sub {
                        display: block;
                        padding-left: .6em;
                        a {
                            color: $color2;
                        }
                    }
                }
            }
            li.search-box__manual-search {
                padding: .8em .6em;
                background-color: $color4;
                border: 2px solid $color1;
            }
        }
        h3 {
            padding: .6em;
            margin-bottom: 0;
            background-color: $color2;
            color: $color1;
        }
    }
    
    ul.subject-choice {
        li {
            display: block;
            border-bottom: 2px solid $color4;
            &:last-child {
                border-bottom: 1em solid $color4;
            }
            a {
                display: block;
                padding: 1em .6em;
                text-transform: uppercase;
                color: $color4;
                text-decoration: none;
                font-size: 1.3em;
                &:focus, &:hover, &:active {
                    background-color: $color2;
                    color: $color1;
                }
            }
            &.current {
                a {
                    color: $color3;
                    &:focus, &:hover, &:active {
                        background-color: $color1;
                        color: $color3;
                    }
                }
            }
            &.fowd {
                a {
                    background-color: $fowd;
                }
            }
            &.fowa {
                a {
                    background-color: $fowa;
                }
            }
        }
    }
    
}


    
