.c-header__icon {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    float: left;
    background-color: $white;
    margin-right: 1em;
    a {
        display: block;
        height: 100%;
    }
}

.c-social-icons {
    @include clearfix;
    display: inline-block;
    float: right;
    background-color: $white;
    .c-header__icon {
        margin-left: 1em;
        margin-right: 0;
    }
}