nav.nav--main {
    line-height: 1.3;
    position: fixed;
    width: 100%;
    display: block;
    background-color: $black-overlay;
    z-index: 10000;
    overflow: visible;
    a {
      padding: .8em 1em;
      display: block;
      color: $white;
    }
    a.all {
        color: $md-grey;
    }
    i.fa-user {
        margin-right: 1em;
    }
    p {
        margin-bottom: 0;
    }
}

ul.top-nav {
    width: 100%;
    max-width: 420px;
    position: absolute;
    background-color: $black-overlay;
    display: none;
    @media (min-width: $bp-l) {
        top: 70px;
    }
}

li.top-nav__item {
    padding-top: 1em;
    padding-bottom: 1em;
    a {
        &:focus, &:hover, &:active {
            color: $md-grey;
        }
    }
}

li.top-nav__sub--item {
    font-family: $paragraph;
    font-weight: 300;
    width: 50%;
    float: left;
    a, a:visited {
        color: $white;
    }
    ul.top-nav__sub--2 {
        opacity: 0;
        transform: translateX(-200px);
        transition: all .3s ease-in-out;
        margin-left: -100%;
        padding-left: 100%;
    }
    &:focus, &:hover, &:active {
        ul.top-nav__sub--2 {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

li.top-nav__sub2--item {
    padding-left: 1em;
}

.top-nav__right {
    @include clearfix;
    position: absolute;
    top: 0;
    right: 0;
    font-family: $paragraph;
}

.top-nav__login {
    display: none;
    @media (min-width: $bp-s) {
        @include clearfix;
        display: block;
        float: right;
        z-index: 1000;
        margin-left: 1em;
    }
}


/* icons */
ul.c-social-icons {
    float: right;
    width: 10em;
    li {
        display: inline-block;
        float: right;
        margin-left: .6em;
        a {
            display: block;
            width: auto;
            padding: .8em .5em;
        }
    }
}

/* Event Menu (blog and video pages) */

.event-menu__wrapper {
    margin-top: -.1em;
    border-top: 2px solid $black;
}

a#event-menu__trigger {
    display: block;
    width: 100%;
    padding: 1em;
    color: $white !important;
    font-family: $paragraph;
    text-transform: uppercase;
    letter-spacing: .03em;
    cursor: pointer;
    i {
        float: right;
    }
}

ul.event-menu {
    display: none;
    font-family: $paragraph;
}

li.event-menu__item {
    display: block;
    width: 100%;
    a {
        display: block;
        width: 100%;
        padding: 1em;
        color: $white !important;
        background-color: $black;
    }
}

/* Event Menu (desktop sizes) */

ul.event-menu--desktop {
    @include ms-respond(font-size, 0);
    background-color: $lt-grey;
    font-family: $paragraph;
    letter-spacing: .03em;
    text-transform: uppercase;
}

li.event-menu__item--desktop {
    @include with-layout($map-gallery) {
        @include span(2);
    }
    position: relative;
    text-align: center;
    height: 3.8em;
    border-right: 1px solid $dk-grey;
    &:last-child {
        border-right: none;
    }
    a {
        display: block;
        height: 100%;
        padding: 1em;
        background-color: $md-grey;
        color: $dk-grey !important;
        &.current {
            background-color: $fowd;
            color: $white !important;
            border-right: none;
        }
    }
}

/* Topic menu */

a#topic-menu__trigger {
    display: block;
    width: 100%;
    padding: 1em;
    color: $md-grey !important;
    background-color: $black;
    font-family: $paragraph;
    cursor: pointer;
    i {
        float: right;
    }
}

ul.topic-menu {
    display: none;
    font-family: $paragraph;
}

li.topic-menu__item {
    display: block;
    width: 100%;
    a {
        display: block;
        width: 100%;
        padding: 1em;
        color: $md-grey !important;
        background-color: $black;
        &:focus, &:hover, &:active {
            color: $white !important;
        }
    }
}

