ol.article__ol_1 {
    @include ms-respond(font-size, 0);
    list-style: decimal outside none;
    margin-bottom: 1em;
    padding-left: 1.5em;
    font-family: $paragraph;
    font-weight: 700;
    color: $dk-grey;
    li {
        margin-bottom: .5em;
    }
    p {
        color: $md-grey;
    }
    @media (min-width: $bp-m) {
        padding-left: 2em;
    }
    @media (min-width: $bp-l) {
        padding-left: 3em;
    }
}

ul.article__ul_1 {
    overflow: visible;
}

/* Events */

ul.events__topic-list {
    width: 100%;
    padding: 1em;
    li {
        @include ms-respond(font-size, 1);
        display: inline;
        text-align: center;
        line-height: 1.2;
        padding: .2em .5em .2em 0;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
        color: darken($fi-highlight, 20%);
        @media (min-width: $bp-l) {
            @include ms-respond(font-size, 0.5);
        }
        &::before {
            content: "\2022";
            margin-right: .5em;
            color: darken($fi-highlight, 20%);
        }
    }
}

/* About */


ul.about__vacancies {
    margin-bottom: 0;
}

li.vacancies__item {
    margin-top: 0;
    p {
        @media(min-width: $bp-l--2) {
            width: span(8);
        }
    }
    h5 {
        margin-bottom: 1em;
    }
}

/* Advisors */

.advisors__caption {
    padding: 1em;
    background-color: $black;
    
}