.c-button {
    display: inline-block;
    width: auto;
    color: $black;
    font-family: $secondary;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .7em 1em;
    border-radius: .3em;
    transition: all .3s ease-in-out;
    clear: both;
    cursor: pointer;
}

.get-involved_button {
    margin-top: 1em;
}