nav.nav--main {
    font-family: $paragraph;
    line-height: 1.3;
    position: fixed;
    width: 100%;
    display: block;
    background-color: $black-overlay;
    z-index: 10000;
    a {
      padding: .6em 1em;
      display: block;
      color: $white;
        font-family: $paragraph;
        font-weight: 300;
    }
    a.all {
        color: $md-grey;
    }
    h4 {
        color: $fi-highlight;
        border-bottom: 2px solid $fi-highlight;
        margin-bottom: .2em;
        letter-spacing: .05em;
    }
    i.fa-user {
        margin-right: 1em;
    }
}

ul.top-nav {
    width: 100%;
    max-width: 420px;
    position: absolute;
    left: -420px;
    transform: translateX(0);
    transition: transform .3s ease-out;
    background-color: $black-overlay;
}

li.top-nav__item {
    padding-top: 1em;
    a {
        &:focus, &:hover, &:active {
            color: $md-grey;
        }
    }
}

li.top-nav__sub--item {
    width: 50%;
    float: left;
    ul.top-nav__sub--2 {
        opacity: 0;
        transform: translateX(-200px);
        transition: all .3s ease-in-out;
        margin-left: -100%;
        padding-left: 100%;
    }
    &:focus, &:hover, &:active {
        ul.top-nav__sub--2 {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

li.top-nav__sub2--item {
    padding-left: 1em;
}

.trigger {
    padding: 0;
    max-width: 6.8em;
    overflow: visible;
    cursor: pointer;
    color: $black;
    background-color: $fi-highlight;
    &:focus, &:hover, &:active {
        color: $fi-highlight;
        background-color: $black;
    ul.top-nav {
      transform: translateX(420px);
    }
  }
}

.top-nav__right {
    @include clearfix;
    position: absolute;
    top: .0;
    right: 0;
}

.top-nav__login {
    display: none;
    @media (min-width: $bp-s) {
        @include clearfix;
        display: block;
        float: right;
        z-index: 1000;
        margin-left: 1em;
        a {
            color: $fi-highlight !important;
            background-color: $black;
            height: 2.55em;
        }
    }
}


/* icons */
ul.c-social-icons {
    float: right;
    width: 7em;
    li {
        display: inline-block;
        float: right;
        margin-left: .6em;
        a {
            display: block;
            width: auto;
            padding: .5em;
            svg {
                width: 1.4em;
                height: 1.4em;
                overflow: visible;
            }
        }
    }
}

.search {
    background-color: $white;
    color: $black;
    opacity: .5;
    clear: both;
    width: 300px;
    padding: .6em;
    transition: .3s all ease-in-out;
    transform: translateX(260px);
    &:focus, &:hover, &:active {
        transform: translateX(0);
        opacity: .8;
    }
}
