.header__search {
    @include clearfix;
    margin-top: 1em;
    background-color: $white;
    border-radius: .4em;
    input {
        width: 85%;
        background-color: $white;
        float: left;
    }
    button {
        width: 15%;
    }
    input, button {
        @include ms-respond(font-size, 1);
        padding: .7em 1em;
        border: none;
    }
    @media (min-width: $bp-m) {
        @include span(8);
    }
    @media (min-width: $bp-l) {
        @include span(6);
    }
    @media (min-width: $bp-l) {
        @include span(6);
    }
    @media (min-width: $bp-xl) {
        input, button {
            padding: 1em;
        }
    }
}