ul.c-list, ul.c-list--events {
    @include ratio16_9;
    margin-bottom: 2em;
}

li.c-list__item {
    @include with-layout($map-xs) {
        @include gallery(3);
        overflow: hidden;
    }
    figure.videos {
        background-color: $videos;
    }
    figure.articles {
        background-color: $articles;
    }
    figcaption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 1em;
        text-align: center;
        @media (min-width: $bp-m) {
            padding: 3em;
        }
    }
}

@media(min-width: $bp-l) {
    li.c-list__item {
        @include with-layout($map-xs) {
            @include gallery(2);
        }
    }
}

/* Caption style – events */
ul.c-list--events {
    figcaption {
        background: linear-gradient(rgba(32, 33, 35, .9), rgba(32, 33, 35, .5));
        text-align: center;
        h3 {
            padding-top: .5em;
            padding-bottom: 1em;
            border-bottom: 3px solid $white;
            letter-spacing: .08em;
            &.gallery-fowd {
                border-bottom: 3px solid $fowd;
            }
            &.gallery-fowa {
                border-bottom: 3px solid $fowa;
            }
            &.gallery-ude {
                border-bottom: 3px solid $ude;
            }
            &.gallery-filive {
                border-bottom: 3px solid $filive;
            }
            &.gallery-londonweb {
                border-bottom: 3px solid $london-web;
            }
        }
    }
}

/* Transitions */

ul.c-list--events a {
    figcaption {
        &:focus, &:hover, &:active {
            background: linear-gradient(rgba(32, 33, 35, .7), rgba(32, 33, 35, .3));
        }
    }
    h3 {
        transition: all .3s ease-in-out;
        transform: scale(1);
        color: $white;
    }
    &:focus, &:hover, &:active {
        h3 {
            transform: scale(1.05);
        }
    }
}

/* Videos - 3 column list */

.videos__list,
.recommendations__list {
    @include border-bottom($white);
    margin-bottom: 1em;
    figure {
        position: relative;
    }
    figcaption {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 1em;
        background-color: $black-overlay;
    }
    @media (min-width: $bp-m) and (max-width: $bp-l) {
        li {
            @include clearfix;
            clear: both;
            margin-bottom: 1em;
            background-color: $black;
        }
        figure img {
            @include span(4);
        }
        figcaption {
            @include span(8 last);
            position: relative;
            padding: 2em 2em 2em 1em;
            background-color: transparent;
        }
    }
    @media (min-width: $bp-l) {
        figcaption {
            transition: all .2s ease-in-out;
            h5 {
                transform: scaleY(0);
                transition: all .2s ease-in-out;
                margin-bottom: -1em;
                text-align: right;
            }
        }
        a:focus, a:hover, a:active {
            figcaption {
                padding-bottom: 2em;
                h5 {
                    transform: scaleY(1);
                }
            }
        }
    }
}

/* Event home – cities */

ul.c-list--cities {
    @include border-bottom($lt-grey);
    text-align: center;
    margin-bottom: 1em;
    img {
        margin-bottom: 1em;
    }
    h3 {
        margin-bottom: .2em;
    }
    a {
        h3 {
            color: $black;
        }
    }
    &--blog {
        @extend ul.c-list--cities;
        border-bottom: none;
        margin-bottom: 0;
        @media (min-width: $bp-l) {
            margin-bottom: -4em;
        }
    }
}

/* Video pages */

.videos__gallery {
    clear: both;
    padding-top: 2em;
    border-top: 2px solid $lt-grey;
    li {
        overflow: hidden;
    }
    @media (min-width: $bp-l) {
        @include ratio4_3;
    }
}



