svg.twitter, svg.facebook {
    fill: $md-grey;
}


.trigger {
    i.fa-plus {
        display: inline-block;
        margin-left: 1em;
        transform: rotate(0deg);
        transition: all .3s ease-in-out;
    }
    &:focus, &:hover, &:active {
        i.fa-plus {
            display: inline-block;
            margin-left: 1em;
            transform: rotate(90deg);
        }
    }
}