.o-regular {
    background-color: $black;
    letter-spacing: .08em;
}


.fowd, .fowa {
    section.communities {
        @media (min-width: $bp-xl) {
            padding-top: 3em;
        }
    }
    section.events {
        @media (min-width: $bp-l) {
            padding-top: 8em;
        }
    }
}

.line-break--full {
    @include border-bottom($lt-grey);
    margin-bottom: 1em;
}

/* Event home - Cities */

section.cities {
    background: $ultra-lt-grey url(../img/backgrounds/triangle-background.svg) center 100.1% / contain no-repeat;
    @media (min-width: $bp-l) {
        padding-bottom: 5em;
    }
    @media (min-width: $bp-xl) {
        padding-bottom: 8em;
    }
    &--blog {
        @extend .cities;
        background-image: none;
    }
}


/* Videos */

section.videos {
    overflow: visible;
}

/* Communities */

figure.articles__img {
    margin-bottom: 1em;
    position: relative;
}

@media (min-width: $bp-m) {
    figure.articles__img {
        @include span(4);
        margin-bottom: 0;
    }
    .articles__text {
        @include span(8 last);
    }
}


/* Signup section */
section.signup {
    background-image: url(../img/backgrounds/lines-grey.svg);
    background-size: cover;
    h1, h3, p {
        color: $lt-grey;
    }
    &--blog {
        @extend .signup;
        @media (min-width: $bp-l--3) {
            margin-top: 5em;
        }
    }
}


/* Get involved */

.o-get-involved__img {
    @include with-layout($map-xs-2) {
        @include span(2);
    }
}

.o-get-involved__text {
    @include with-layout($map-xs-2) {
        @include span(4 last);
        padding-top: 2em;
        @media (min-width: $bp-m) {
            padding-top: 0;
        }
    }
}

ul.c-get-involved {
    li {
        @include clearfix;
        clear: both;
        margin-bottom: 1em;
        @media (min-width: $bp-m) {
            margin-bottom: 2em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        p {
            color: $md-grey;
            @include ms-respond(font-size, 0);
        }
    }
}

@media (min-width: $bp-l) {
    ul.c-get-involved {
        li {
            @include gallery(4);
        }
        .o-get-involved__img,
        .o-get-involved__text {
            @include span(full);
        }
        .o-get-involved__img {
            padding: 1em 5em 1em 2em;
        }
    }
}

@media (min-width: $bp-xl) {
    .o-get-involved__img {
        padding: 2em 7em 2em 3em;
    }
}

/* Recommendations */

section.recommendations {
    border-top: 3px solid $md-grey;
}