nav.nav--main {
    line-height: 1.3;
    width: 100%;
    display: block;
    position: absolute;
    height: 2.9em;
    background-color: transparentize($black, .5);
    overflow: visible;
    z-index: $top;
    a {
      padding: .8em 1em;
      color: $white;
    }
    a.all {
        color: $md-grey;
    }
    i.fa-user {
        margin-right: 1em;
    }
    p {
        margin-bottom: 0;
    }
}

ul.top-nav {
    width: 100%;
    max-width: 420px;
    position: fixed;
    z-index: $top;
    background-color: transparentize($black, .05);
    display: none;
    top: 2.9em;
    @media (min-width: $bp-l) {
        top: 4.2em;
    }
}

li.top-nav__item {
    padding-top: 1em;
    padding-bottom: 1em;
    a {
        display: block;
        &:focus, &:hover, &:active {
            color: $md-grey;
        }
    }
}

li.top-nav__sub--item {
    font-family: $paragraph;
    font-weight: 300;
    width: 50%;
    float: left;
    a, a:visited {
        color: $white;
        &:focus, &:hover, &:active {
            color: $md-grey;
        }
    }
    ul.top-nav__sub--2 {
        opacity: 0;
        transform: translateX(-200px);
        transition: all .3s ease-in-out;
        margin-left: -100%;
        padding-left: 100%;
    }
    &:focus, &:hover, &:active {
        ul.top-nav__sub--2 {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

li.top-nav__sub2--item {
    padding-left: 1em;
}

.top-nav__right {
    @include clearfix;
    position: absolute;
    top: 0;
    right: 0;
    font-family: $paragraph;
    z-index: $top;
    a {
        display: block;
    }
}

.top-nav__login {
    display: none;
    @media (min-width: $bp-s) {
        @include clearfix;
        display: block;
        float: right;
        z-index: 1000;
        margin-left: 1em;
    }
}


/* icons */
ul.c-social-icons {
    float: right;
    width: 10em;
    li {
        display: inline-block;
        float: right;
        margin-left: .6em;
        a {
            display: block;
            width: auto;
            padding: .8em .5em;
        }
    }
}

/* Event Menu - mobile (blog and video pages) */

.event-menu__wrapper {
    margin-top: .9em;
    border-top: 2px solid $black;
    @media (min-width: $bp-s) {
        margin-top: -.1em;
    }
    @media (min-width: $bp-l) {
        display: none;
    }
}

a#event-menu__trigger {
    display: block;
    width: 100%;
    padding: 1em;
    color: $white !important;
    font-family: $paragraph;
    text-transform: uppercase;
    letter-spacing: .03em;
    cursor: pointer;
    i {
        float: right;
    }
}

ul.event-menu {
    display: none;
    font-family: $paragraph;
}

li.event-menu__item {
    display: block;
    width: 100%;
    a {
        display: block;
        width: 100%;
        padding: 1em;
        color: $white !important;
        background-color: $black;
    }
}

/* Event Menu (desktop sizes) */

ul.event-menu--desktop {
    display: none;
    @media (min-width: $bp-l) {
        display: block;
    }
    @include ms-respond(font-size, -1);
    font-family: $paragraph;
    letter-spacing: .03em;
    text-transform: uppercase;
    overflow: visible;
    height: 4.2em;
}

li.event-menu__item--desktop {
    @include with-layout($map-gallery) {
        @include span(2);
    }
    position: relative;
    text-align: center;
    height: 4.2em;
    border-right: 2px solid $white;
    overflow: visible;
    &:last-child {
        border-right: none;
    }
    a {
        display: block;
        height: 100%;
        padding: 1.2em;
        background-color: $lt-grey;
        color: $dk-grey !important;
        font-weight: 700;
        &:focus, &:hover, &:active {
            background-color: $black;
            color: $md-grey !important;
        }
        &.current {
            background-color: $fowd;
            color: $white !important;
            border-right: none;
            font-weight: 400;
        }
    }
}

/* Decrease height of menu items at larger breakpoints */
@media (min-width: 1150px) {
    ul.event-menu--desktop,
    li.event-menu__item--desktop {
        height: 3.6em;
    }
}

img.event-menu__triangle {
    position: absolute;
    height: 1em;
    bottom: 0;
    left: 0;
    margin-bottom: -1em;
    z-index: $high;
}

/* Topic and event menus */

.topic-menu__wrapper {
    @media (min-width: $bp-l) {
        display: none;
    }
}

a#topic-menu__trigger,
a#topic-menu__trigger--desktop,
a#date-menu__trigger {
    display: block;
    width: 100%;
    padding: 1em;
    color: $md-grey !important;
    background-color: $black;
    font-family: $paragraph;
    cursor: pointer;
    i {
        float: right;
    }
}

ul.topic-menu,
ul.topic-menu--desktop,
ul.date-menu {
    display: none;
    font-family: $paragraph;
}

li.topic-menu__item,
li.date-menu__item {
    display: block;
    width: 100%;
    a {
        display: block;
        width: 100%;
        padding: 1em;
        color: $md-grey !important;
        background-color: $black;
        &:focus, &:hover, &:active {
            color: $white !important;
            background-color: $dk-grey;
        }
    }
}

/* Topic menu in header at desktop sizes */
 .topic-menu__wrapper--inline {
     display: none;
     @media (min-width: $bp-l) {
         display: block;
         @include span(4);
         padding-top: 1em;
     }
 }


.sub-menu--closed {
    background-color: $lt-grey;
}

.sub-menu--open {
    background-color: $black;
    a {
        color: $lt-grey !important;
    }
}

ul.topics__sub-menu {
    display: none;
    li {
        &:last-child {
            padding: .6em 1em;
        }
        &:nth-last-child(-n+2) {
            padding-bottom: .6em;
        }
    }
}



/* Dropdown menu for videos page */

.main__dropdown {
    border-radius: 0;
    max-width: 15em;
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
 }

label.dropdown__label {
    color: $md-grey;
    @include ms-respond(font-size, 0);
    font-family: $paragraph;
    padding: .8em;
}

.dropdown--select {
    border: none;
    border-radius: 0;
    font-family: $paragraph;
    @include ms-respond(font-size, 0);
    background-color: $black;
    color: $md-grey;
    margin-left: 1em;
}

