svg.twitter, svg.facebook {
    width: 1.4em;
    height: 1.4em;
    overflow: visible;
}

#menu-icon {
    margin-left: .4em;
}

ul.c-get-involved {
    svg {
        stroke: $black;
        transition: all .2s ease-in-out;
    }
}

svg.icon--play {
    margin: 0 auto 1em auto;
    width: 5em;
    height: 5em;
    .st0 {
        fill: $black;
        stroke: $md-grey;
    }
    .st1 {
        fill: $md-grey;
        stroke: $md-grey;
    }
    .st0, .st1 {
        transition: all .2s ease-in-out;
    }
    &:focus, &:hover, &:active {
        .st0 {
            stroke: $lt-grey;
        }
        .st1 {
            fill: $lt-grey;
            stroke: $lt-grey;
        }
    }
}