header {
    background-color: $fi-primary;
    background-image: url(../img/events/lines.svg), linear-gradient( rgba(70, 122, 198, .4), rgba(78, 203, 216, 1)),
        url(../img/events/home-main.jpg);
    background-size: cover;
    color: $black;
    h1 {
        clear: both;
    }
    padding: 2em 0 1em 0;
    @media (min-width: $bp-s) {
        padding-top: 3em;
    }
    @media (min-width: $bp-m) {
    }
}

.header__logo {
    max-width: 12em;
    margin-bottom: 4em;
    @media (min-width: $bp-s) {
        margin-bottom: 7em;
    }
    @media (min-width: $bp-m) {
        margin-bottom: 8em;
    }
}