*, html, body {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    @include headings;
    font-size: 2.5em; 
    line-height: 1.2;
    margin-bottom: .4em;
}

h2 {
    @include headings;
    font-size: 1.6em;
    margin-bottom: .6em;
}

h3 {
    font-family: $paragraph;
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: .06em;
}

h4 {
    font-family: $secondary;
    font-size: 1.2em;
    text-transform: uppercase;
}

p {
    font-family: $paragraph;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1em;
    &:last-of-type {
        margin-bottom: 0;
    }
}