/* Settings – Furthest reach, lowest specificity */

/* Generic */
$black: #202123;
$white: #F7F9F9;
$articles: #5BD8B4;
$videos: #AE88EA;

/* Event-specific colours */
$fi-primary: #467AC6;
$fi-highlight: #4ECBD8;
$fowd: #e52b32;
$fowa: #ff7a19;

$fi-dk: darken($fi-primary, 20%);
$fowd-dk: darken($fowd, 20%);
$fowa-dk: darken($fowa, 20%);

/* Greys */
$lt-grey: #D9E4E8;
$md-grey: #C2CED3;