ul.c-list, ul.c-list--events {
    margin-bottom: 2em;
}

li.c-list__item {
    @include clearfix;
    overflow: visible;
    margin-bottom: 2em;
    text-align: center;
    figure {
        position: relative;
    }
    .events__description {
        background-color: transparent;
    }
    .events__description p {
        margin-bottom: 0;
        padding: 1em;
        color: $dk-grey !important;
    }
    figcaption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 2em;
        text-align: center;
        @media (min-width: $bp-s) {
            padding: 3em;
        }
        @media (min-width: $bp-l) {
            padding: 4em;
        }
    }
}

@media(min-width: $bp-m) {
    li.c-list__item {
        @include gallery(6);
        padding: .5em;
    }
}

@media (min-width: $bp-l) {
    li.c-list__item {
        padding: 1em;
    }
    
}

/* Caption style – events */
ul.c-list--events {
    figcaption {
        background: linear-gradient( rgba(32, 33, 35, .9), transparentize($fi-highlight, .6) );
        text-align: center;
    }
    h4.caption--event {
        opacity: 0;
        margin-top: 1em;
        padding-top: 1em;
        border-top: 3px solid $fi-highlight;
    }
}

/* Transitions */

ul.c-list--events a {
    figcaption {
        &:focus, &:hover, &:active {
            background: linear-gradient(rgba(32, 33, 35, .7), rgba(32, 33, 35, .3));
        }
    }
    h3, h4.caption--event, .gallery__caption--event {
        transition: all .3s ease-in-out;
        transform: scale(1);
        color: $white;
    }
    &:focus, &:hover, &:active {
        h3, .gallery__caption--event {
            transform: scale(1.05);
        }
        h4.caption--event {
            opacity: 1;
        }
    }
}

/* Videos - 3 column list */

.videos__list,
.recommendations__list {
    @include border-bottom($white);
    margin-bottom: 1em;
    figure {
        position: relative;
    }
    figcaption {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 1em;
        background-color: $black-overlay;
    }
    @media (min-width: $bp-m) and (max-width: $bp-l) {
        li {
            @include clearfix;
            clear: both;
            margin-bottom: 1em;
            background-color: $black;
        }
        figure img {
            @include span(4);
        }
        figcaption {
            @include span(8 last);
            position: relative;
            padding: 2em 2em 2em 1em;
            background-color: transparent;
        }
    }
    @media (min-width: $bp-l) {
        figcaption {
            transition: all .2s ease-in-out;
            h5 {
                transform: scaleY(0);
                opacity: 0;
                transition: all .2s ease-in-out;
                margin-bottom: -1em;
                text-align: right;
            }
        }
        a:focus, a:hover, a:active {
            figcaption {
                padding-bottom: 2em;
                background-color: black;
                h5 {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }
    }
}


/* Video pages */

.videos__gallery {
    clear: both;
    li {
        overflow: hidden;
    }
    @media (min-width: $bp-l) {
        @include ratio4_3;
    }
}



