.popup {
    display: none;
    @media (min-width: $bp-l) {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: transparentize($black, .1);
        z-index: $top;
        padding: 1.5em 0;
        transition: all .3s ease-in-out;
    }
}

.popup--hide {
    transform: translateY(100px);
}

.popup--show {
    transform: translateY(0);
}

.popup__content {
    @include wrapper-sides;
    color: $white;
    text-align: center;
    letter-spacing: .03em;
    p {
        margin-bottom: 0;
    }
}

.popup__link {
    border-bottom: 2px solid $fowd;
    margin-left: 1em;
}

.popup__close {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    background-color: $md-grey;
    color: $black !important;
    padding: .1em;
    &:focus, &:hover, &:active {
        background-color: $dk-grey;
    }
}