ul.pagination {
    @include clearfix;
    @include ms-respond(font-size, 0);
    display: block;
}

li.pagination__item {
    font-weight: 700;
    display: inline-block;
    float: left;
    margin-right: .5em;
    border-radius: 50%;
    text-align: center;
    a {
        display: block;
        height: 100%;
        padding-top: .26em;
        width: 1.6em;
        height: 1.6em;
    }
    &:focus, &:hover, &:active {
        background-color: $black;
        a {
            color: $white;
        }
    }
    &:first-child, &:last-child {
        text-align: left;
        border-radius: 0;
        a {
            width: 6em;
        }
        &:focus, &:hover, &:active {
            background-color: transparent;
            a {
                color: $black;
            }
        }
    }
    &:first-child {
        i {
            margin-right: .5em;
        }
    }
    &:last-child {
        i {
            margin-left: .5em;
        }
    }   
    &--current {
        @extend .pagination__item;
        a {
            color: $white;
        }
    }
}

.pagination__number {
    text-align: center;
    color: $white;
    background-color: $lt-grey;
    width: 1.8em;
    height: 1.8em;
    padding-top: .38em;
    border-radius: 50%;
    margin-bottom: 1em;
}