ul.top-nav__full {
    display: none;
}

img.nav__logo {
    display: none;
}

@media (min-width: $bp-l) {
    
img.nav__logo {
    display: block;
    max-width: 9em;
}
    
ul.top-nav__full {
    display: block;
    position: absolute;
    z-index: $top;
    width: 100%;
    overflow: visible;
}

li.full-nav__item {
    display: inline-block;
    float: left;
    position: relative;
    overflow: visible;
    height: 3.8em;
    z-index: $top;
    color: $lt-grey;
    &:first-child {
        border-right: 2px solid $black;
    }
    ul.full-nav__sub {
        display: none;
        background-color: $black;
        position: absolute;
        top: 3.75em;
        width: 15em;
        z-index: 500;
    }
    &:focus, &:hover, &:active {
        ul.full-nav__sub {
            display: block;
            animation: dropdown .2s ease-in-out;
        }
    }
    a {
        display: block;
        padding-top: 1.2em;
        h5 .fa {
            font-size: .7em;
        }
    }
    li.full-nav__sub--item {
        height: auto;
    }
}

    
.full-nav__item a {
    color: $lt-grey !important;
    &:focus, &:hover, &:active {
        color: $md-grey !important;
        background-color: $black;
    }
}

.full-nav__sub--item a {
    &:focus, &:hover, &:active {
        color: $lt-grey !important;
        background-color: $dk-grey;
        border: none;
    }
}
    
.full-nav__item.current {
    a {
        color: $white !important;
        border-bottom: 3px solid $white;
    }
}
    

}

@keyframes dropdown {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
