.videos__featured {
    margin-top: 0;
    margin-bottom: 2em;
    h6 {
        color: $black;
    }
}

.subscription__package {
    padding: 1em;
    background-color: adjust-color($fi-highlight, $hue: 0deg, $saturation: -38, $lightness: 34);
    color: $dk-grey;
    p {
        color: $dk-grey;
    }
    @media (min-width: $bp-l) {
        padding: 2em;
    }
}