ol.article__ol_1 {
    @include ms-respond(font-size, 0);
    list-style: decimal outside none;
    margin-bottom: 1em;
    padding-left: 1.5em;
    font-family: $paragraph;
    font-weight: 700;
    color: $dk-grey;
    li {
        margin-bottom: .5em;
    }
    p {
        color: $md-grey;
    }
    @media (min-width: $bp-m) {
        padding-left: 2em;
    }
    @media (min-width: $bp-l) {
        padding-left: 3em;
    }
}

ul.article__ul_1 {
    overflow: visible;
}

/* Events */

ul.events__topic-list {
    width: 100%;
    padding: 1em;
    li {
        @include ms-respond(font-size, 2);
        font-family: $secondary;
        display: inline;
        line-height: 1.2;
        padding: .2em .5em .2em 0;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
        color: $md-grey;
        @media (min-width: $bp-l) {
            @include ms-respond(font-size, 0.5);
        }
        &::before {
            content: "\2022";
            margin-right: .5em;
            color: $md-grey;
        }
    }
}

/* About */


ul.about__vacancies {
    margin-bottom: 0;
    @media (min-width: $bp-l) {
        width: span(10);
    }
}

ul.vacancies__list {
    list-style: disc outside none;
    margin-bottom: 1em;
    padding-left: 1.5em;
    font-family: $paragraph;
    font-weight: 700;
    color: $dk-grey;
    li {
        padding-left: 1em;
        &::before {
        }
    }
}

/* Video links */

li.video__link-item {
    margin-bottom: 1em;
    padding-bottom: .6em;
    border-bottom: 4px solid $fowd;
}

@media (min-width: $bp-s) {
    
    li.video__link-item {
        display: inline-block;
        float: left;
        margin-right: 3em;
    }
}

/* Video courses */

.course__featuring {
    padding: 1em;
    @media (min-width: $bp-l) {
        padding: 1em 2em;
    }
}

li.course-collection__item {
    margin-bottom: 1em;
    margin-top: 1em;
    &:last-child {
        margin-bottom: 0;
    }
}

