/* Events */

section.advisors,
section.team {
    @include background-gradient($white, $ultra-lt-grey);
}

section.events,
section.cities,
section.events--home {
    background-image: url(../img/backgrounds/background-pattern_triangles.svg), linear-gradient(150deg, transparent, $ultra-lt-grey);
    background-size: cover;
}

/* Sponsors */

section.sponsors {
    @include background-gradient($white, $ultra-lt-grey);
}

.sponsor__form {
    @media (min-width: $bp-m--2) {
        width: span(10);
    }
}


/* Videos */

section.videos {
    overflow: visible;
}

.videos__courses {
    margin-bottom: 2em;
}

/* Communities */

figure.articles__img {
    margin-bottom: 1em;
    position: relative;
}

@media (min-width: $bp-m) {
    figure.articles__img {
        @include span(4);
        margin-bottom: 0;
    }
    .articles__text {
        @include span(8 last);
    }
}

/* Speakers */

section.speakers--archive,
section.articles--archive {
    border-top: 2px solid $lt-grey;
}

.speaker-submit__intro {
    margin-bottom: 2em;
}

.archive__articles-title {
    @include border-bottom($dk-grey);
    padding-bottom: 1em;
    margin-bottom: 2em;
}


/* Signup section */
section.signup {
    background-image: url(../img/backgrounds/lines-grey.svg);
    background-size: cover;
    h1, h3, p {
        color: $lt-grey !important;
    }
    &--blog {
        @extend .signup;
        @media (min-width: $bp-l--3) {
            margin-top: 5em;
        }
    }
}


/* Get involved */

.o-get-involved__img {
    @include with-layout($map-xs-2) {
        @include span(2);
    }
}

.o-get-involved__text {
    @include with-layout($map-xs-2) {
        @include span(4 last);
        padding-top: 2em;
        @media (min-width: $bp-m) {
            padding-top: 0;
        }
    }
}

ul.c-get-involved {
    li {
        @include clearfix;
        clear: both;
        margin-bottom: 1em;
        @media (min-width: $bp-m) {
            margin-bottom: 2em;
        }
        &:last-child {
            margin-bottom: 0;
        }
        p {
            color: $md-grey;
            @include ms-respond(font-size, 0);
        }
    }
}

@media (min-width: $bp-l) {
    ul.c-get-involved {
        li {
            @include gallery(4);
        }
        .o-get-involved__img,
        .o-get-involved__text {
            @include span(full);
        }
        .o-get-involved__img {
            padding: 1em 5em 1em 2em;
        }
    }
}

@media (min-width: $bp-xl) {
    .o-get-involved__img {
        padding: 2em 7em 2em 3em;
    }
}

/* Recommendations */

section.recommendations {
    border-top: 3px solid $md-grey;
}

/* About page */

section.vacancies,
section.video-courses {
    @include border-bottom($lt-grey);
}

.vacancies__title,
.vacancies__description {
    margin-bottom: 2em;
}

section.vacancy-details {
    @include border-bottom($lt-grey);
}

.vacancies__article {
    margin-bottom: 2em;
}

/* Team */

section.team {
    background-color: $ultra-lt-grey;
}

figure.team__photo {
    margin-bottom: 1em;
}

.team__caption--hidden {
    margin-bottom: 0;
    margin-top: .7em;
    @media (min-width: $bp-m) {
        display: none;
    }
}


/* Advisors */

section.advisors {
    @media (min-width: $bp-l--2) {
        margin-top: 4em;
    }
}

/* Testimonials */

section.testimonials {
    text-align: center;
}

/* Video courses */

.courses__featured-block {
    margin-top: 0;
}