.c-button {
    display: inline-block;
    width: auto;
    color: $black;
    font-family: $secondary;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .7em 1em;
    border-radius: .3em;
    transition: all .2s ease-in-out;
    clear: both;
    cursor: pointer;
    &--header {
        @extend .c-button;
        letter-spacing: .03em;
        @include ms-respond(font-size, 1.5);
    }
    &--white {
        @extend .c-button;
        background-color: $white !important;
    }
    &--lt-blue {
        @extend .c-button;
        background-color: $fi-highlight !important;
        &:focus, &:hover, &:active {
            background-color: $fi-primary !important;
        }
    }
    &--blue {
        @extend .c-button;
        background-color: $fi-primary !important;
        &:focus, &:hover, &:active {
            background-color: $black !important;
            color: $fi-highlight;
        }
    }
}

.c-button--type-2 {
    display: inline-block;
    width: auto;
    color: $fi-highlight;
    background-color: $black;
    font-family: $secondary;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: .03em;
    padding: .7em 1em;
    border-radius: .3em;
    transition: all .2s ease-in-out;
    clear: both;
    cursor: pointer;
    &:focus, &:hover, &:active {
        color: $black !important;
        background-color: $fi-highlight;
    }
}

.get-involved_button {
    margin-top: 1em;
}

.like-button {
    text-align: right;
    svg.heart {
        display: block;
        .heart__fill {
            fill: $lt-grey;
            &:focus, &:hover, &:active {
                fill: $md-grey;
            }
        }
        width: 1.5em;
        height: 1.5em;
        margin-bottom: .5em;
        margin-left: 1em;
        float: right;
    }
}