/* Events--desktop styles */

@media (min-width: $bp-l) {
    
    section.regular {
        li.events__single--regular {
            @include gallery(4 of 12);
            height: 15em;
        }
    }
    
}

/* Content library */

.content--latest {
    display: none;
}

/* Content library--desktop styles */
@media (min-width: $bp-l) {
    
    .content--latest {
        display: block;
        clear: both;
        padding-top: 2em;
        li {
            @include gallery(4 of 12);
            height: 12em;
            background-color: $color2;
            a {
                padding: 1em;
                display: block;
                height: 100%;
            }
        }
    }
    
}