@import "compass/reset";
@import "susy";
@import "compass/utilities/general/clearfix";

$susy: (
    columns: 12,
    container: 1100px,
    gutters: 0.3,
    global-box-sizing: border-box
); 

/* Partials */

@import "variables";
@import "mixins";
@import "colors";
@import "global";
@import "layout";
@import "components";
@import "typography";