main.home {
    @include center-content;
}

section {
    @include cf;
    margin-bottom: $large-padding;
}

section.alternate {
    background-color: $color3;
    padding: $large-padding;
}

section.explore {
    background-color: $color2;
    padding: $large-padding;
}

section.signup {
    background-color: $color1;
    padding: $large-padding;
}

.container {
    @media (min-width: $bp-l) {
        @include span(9 of 12);
    }
}

/* Section--Desktop XL-styles */
@media (min-width: $bp-xl) {
    
    section.explore {
        padding: 0;
    }
    
}

/* Events */

ul.events--priority,
ul.events--regular {
    @include cf;
    a {
        display: block;
        height: 100%;
    }
    figcaption {
        padding: 1em;
    }
}

li.events__single--priority {
    background-color: $color1;
    margin-bottom: gutter();
}

li.events__single--regular {
    @include gallery(6 of 12);
    background-color: $color1;
    margin-bottom: gutter();
    height: auto;
}

img.events__image {
    display: block;
    height: 100%;
    background-color: $color2;
    border: none;
    margin-bottom: 0;
}

/* Events--tablet styles */

@media (min-width: $bp-m) {
    
    li.events__single--priority {
        @include cf;
        margin-bottom: gutter(6);
        figure {
            @include span(2 of 6);
            height: auto;
        }
        figcaption {
            @include span(4 of 6 last);
            height: 100%;
        }
    }
    
}

/* Events--desktop styles */

@media (min-width: $bp-l) {
    
    ul.events__all {
        @include cf;
    }
    
    li.events__single--priority {
        @include gallery(6 of 12);
        margin-bottom: gutter(12);
        figure {
            display: block;
            width: 100%;
        }
        figcaption {
            display: block;
            width: 100%;
        }
    }
    
    img.events__image {
        width: 100%;
        height: 100%;
    }
    
    section.regular {
        li.events__single--regular {
            @include gallery(4 of 12);
            margin-bottom: gutter(12);
        }
    }
    
}

img.section__image--main {
    display: none;
}

/* Signup--desktop styles */

@media (min-width: $bp-l) {
    
    img.section__image--main {
        @include span(6 of 12);
        display: block;
        background-color: $color2;
    }
    
    .section__text {
        @include span(6 of 12 last);
    }
    
}

/* Get Involved */

ul.get-involved__info {
    @include cf;
    li {
        background-color: $color3;
        padding: 2em;
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            color: $color4;
        }
    }    
}

/* Get involved--desktop styles */

@media (min-width: $bp-l) {
    
    ul.get-involved__info {
        li {
            @include span(9 of 12);
        }    
    }
    
}

/* Explore */

ul.explore__options {
    @include container(1200px);
    @include cf;
    color: $color3;
}

li.explore__item {
    @include span(1 of 3);
    @include cf;
    text-align: center;
    font-size: 3em;
    &:last-child {
        @include span(1 of 3 last);
    }
    a {
        padding: .4em;
        display: block;
        h4 {
            font-size: .2em;
            color: $color3;
            margin-top: .8em;
            margin-bottom: 0;
        }
    }
}

/* Explore--desktop styles */

@media (min-width: $bp-l) {

    ul.explore__options {
        padding: gutter();
    }

    li.explore__item {
        font-size: 5em;
    }
    
}