h1 {
    font-size: 2em;
    margin-bottom: .2em;
    line-height: 1.2;
    &.subhead {
        font-size: 1.5em;
    }
    @media (min-width: $bp-m) {
        font-size: 3.2em;
    }
}

h2 {
    font-size: 1.6em;
    margin-bottom: .3em;
    line-height: 1.2;
    @media (min-width: $bp-m) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.2em;
    margin-bottom: .2em;
    color: $color2;
    &.gallery--recommends {
        margin-top: 2em;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 1em;
}

em {
    font-style: italic;
}

a, a:focus, a:visited, a:hover, a:active {
    color: $color4;
}

a.read-more {
    color: $color1;
}

.blog {
    a {
        color: $color1;
    }
}

p.post__sub {
    font-size: .8em;
    span {
        font-style: italic;
    }
}

p.tags { 
    font-size: .8em;
    span {
        margin-right: .5em;
        background-color: $color1;
        padding: .3em .5em;
        color: $color4;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: .5em;
    }
}

p.gallery__content-type {
    padding: .3em .5em;
    position: absolute;
    top: 0;
    background-color: $color2;
    color: $color3;
    display: inline;
    width: auto;
}

.article__text {
    p:first-of-type {
        font-size: 1.2em;
        font-weight: 700;
    }
    em {
        font-style: italic;
    }
}
    