header {
    background-color: $color3;
    padding: 5em gutter() 3em gutter();
}

/* Tablet styles */

@media (min-width: $bp-m) {
    
    .header__group, .header__call-to-action {
        @include container(1200px);
    }
    
    h1.subhead {
        max-width: 20em;
    }
    
    .header__call-to-action {
        margin-top: 1em;
    }
    
}

/* Desktop styles */

@media (min-width: $bp-l) {
    
    header {
        padding: 8em gutter() 5em gutter();
    }
    
}