/* Blog */

figure.blog-img--main,
figure.content-img--main {
    height: 10em;
    background-color: $color3;
    margin-bottom: 1em;
    @media (min-width: $bp-l) {
        height: 20em;
    }
}

figure.blog-img--float-left {
    height: 10em;
    background-color: $color3;
    @media (min-width: $bp-s) {
        @include span(6 of 12);
    }
    @media (min-width: $bp-l) {
        @include span(3 of 8);
    }
    @media (min-width: $bp-xl) {
        @include span(4 of 9);
        height: 15em;
    }
}

figcaption {
    padding: 1em;
}